label {
    color: white;
    display: inline-flex;
    align-items: center;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.children::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 6px;
    position: relative;
}

.checkbox:checked+.children::before {
    background-image: url('../../../assets/checkbox-arrow.svg');
    background-size: 60%; 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.children {
    display: inline-flex;
    height: fit-content;
    font-family: 'Pacifico';
}