.list {
    padding: 15px;
    height: fit-content;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 auto;
}

.container {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.not_found {
    color: #ffffff;
    margin: auto;
    text-align: center;
}

.title {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Pacifico';
    font-weight: bold;
    font-size: 30px;
    margin-left: -15%;
}

.title:hover {
    color: pink;
    text-decoration: underline;
    text-underline-offset: 4px;
}