.aside {
    height: auto;
    width: 190px;
    background-image: url('../../assets/background.jpg');
    background-size: contain;
    margin-bottom: 0;
    bottom: 0;
    top: 0;
    box-shadow: 1px -10px 15px #0712af;
}