.button {
    border-radius: 6px;
    padding: 7px 18px;
    background-color: #303030;
    position: relative;
    margin: 5px;
    font-family: sans-serif;
    color: white;
    border: 0;
}

.button:hover {
    cursor: pointer;
}

.button::before {
    position: absolute;
    top: -10%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    width: 110%;
    height: 120%;
    content: '';
    background: linear-gradient(
        var(--rotate),
        #ff00c1 0%,
        #9600ff 25%,
        #4900ff 50%,
        #00b8ff 80%,
        #00fff9 100%
    );
    box-shadow:  1px 1px 5px #9600ff;
    z-index: -1;
    border-radius: 6px;
    transition: --rotate 9999s linear;
}

.button:hover::before {
    --rotate: 36000deg;
    transition: --rotate 200s linear;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: false;
}