.filter {
    margin: 20px auto;
    width: 80%;
    top: 180px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    gap: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.title {
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}