.link2 {
    /* position: relative; */
    padding-bottom: 4px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(
        45deg,
        #ff00c1 0%,
        #9600ff 25%,
        #4900ff 50%,
        #00b8ff 80%,
        #00fff9 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}